* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #56aeff;
  font-family: Gotham, sans-serif;
  overflow: auto; /* Hide any content that overflows the container */

}

header {
  background-color: #56aeff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 35px;
}

.logo span {
  color: #ffa559;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  top: 30px; /* Adjust the top position to position below the navbar */
  right: 0; /* Position the menu to the right side */
  background-color: transparent;
  width: 100%;
  z-index: 1;
  text-align: right;
  font-size: 20px;
}

.menu li {
  display: block;
  margin-right: 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-icon {
  display: block;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  position: absolute;
  right: 15px; /* Adjust the right distance to position the menu-icon properly */
}

.menu.show-menu {
  display: flex;
}

/* Add this to your main1.css file */
.welcome-message {
  margin: 15px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 10px; /* Adjust the top distance to position the welcome message properly */
  right: 30px; /* Adjust the right distance to position the welcome message properly */
  color: black;
  font-weight: bold;
  font-family: Gotham, sans-serif;
}

input[type="checkbox"] {
  display: none;
}       

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust the width as desired */
  max-width: 800px; /* Limit the maximum width to 800px */
  margin: 0;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

  .signup-title {
    text-align: left;
    color: black;
  }

  h1 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  label {
    font-family: Gotham;
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000;
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%; /* Set input width to 100% */
    padding: 8px;
    border: 2px solid #56aeff;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  button {
    background-color: #ffa559;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    font-family: "Gotham";
  }
  
  button:hover,button:focus,button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1);
  }

  .login-link {
      text-align: left;
      font-size: 20px;
      margin-bottom: 10px;
      color: black;
      text-decoration: none;
      font-family: Gotham;
    }
  
    .login-link:hover {
      color: white;
      text-align: left;
      font-size: 20px;
      margin-bottom: 10px;
      text-decoration: none;
      font-family: Gotham;
    }

    h2 {
      text-align: center;
      margin-top: 10px;
    }

    .progress-report-form {
      margin: 30px auto; /* Center the container and add some space between containers */
      position: relative; /* Set position to relative */
      width: 90%; /* Set the width to occupy 90% of the available space */
      max-width: 800px; /* Limit the maximum width to 800px */
      padding: 30px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.75);
      overflow: auto; /* Enable scrolling when content overflows the container */
    }
      
    .progress-report-form h2 {
      text-align: center;
      margin-top: 10px;
    }
    
    .progress-report-form h1 {
      text-align: left;
      font-size: 20px;
      margin-bottom: 10px;
      color: black;
    }
    
    .input-group {
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      width: 100%;
    }
    
    .input-group label {
      flex: 1;
      font-family: Gotham;
      font-size: 18px;
      margin-right: 10px;
      color: #000000;
      font-weight: bold;
    }
    
    .input-group input {
      flex: 2;
      width: 100%;
      padding: 8px;
      border: 2px solid #56aeff;
      border-radius: 10px;
    }