* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #56aeff;
  font-family: Gotham, sans-serif;
}

.logo {
  font-size: 30px;
  text-decoration: none;
}

.navbar {
  position: fixed; /* Add this line to fix the navbar position */
  top: 0; /* Stick it to the top of the viewport */
  left: 0;
  width: 100%; /* Make it span the full width of the viewport */
  background-color: #56aeff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* Optionally add a z-index to make sure it stays above other content */
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 100px;  
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 100px;  
  text-decoration: none;
  list-style: none;
}

.navbar-right li {
  margin-right: 15px; /* Add some spacing between the links (optional) */
}

.navbar-right li a {
  text-decoration: none; /* Remove the underline */
  font-size: 18px; /* Add the desired font size for the navigation links */
  color: black;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  flex-wrap: wrap;
}

.column {
  width: 33.33%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column img {
  max-width: 100%;
  height: auto;
}

.image-button {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  background: #ffa559;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  border: none;
}

.image-button:hover,
.image-button:focus,
.image-button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

input[type="checkbox"] {
  display: none;
} 

 /*@font-face {
  font-family: Gotham;
  src: url("Gotham-Black.otf");
  format: truetype;
}
*/

  /* CSS for the modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px; /* Adjusted border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
    width: 80%;
    max-width: 400px;
    text-align: center; /* Center the content */
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa559; /* Orange color for buttons */
    border: 1px solid #56aeff; /* Border color #56aeff for buttons */
    color: #fff; /* White text color for buttons */
    margin: 0 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */ 
  }
  
  .modal-buttons button:hover {
    background-color: #56aeff; /* Change background color on hover */
    border-color: #ffa559; /* Change border color on hover */
    color: #fff; /* Change text color on hover */
  }
